.dark-mode {
    background-color: rgb(0, 0, 81);
    color: aquamarine;
  }

.light-mode {
    background-color: aquamarine;
    color: rgb(0, 0, 81);
  }

h1 {
    border-bottom:3px solid black;
}
.light {
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px solid black;
}

.dark {
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid black;
}
#blogs p {
    background-color: rgb(252, 251, 251);
}
#blogs h2 {
    border-top: 2px solid rgb(0, 0, 0);
    background-color: rgb(252, 251, 251);
}
#blogs p2 {
    background-color: rgb(252, 251, 251);
}
header {
    display:flex;
    justify-content: space-between;
}
a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}